@model SGPI.Models.Usuario
@{
    ViewData["Title"] = "BuscarUsuario";
    Layout = "_LayoutSGPI";
}





<h1>Buscar Usuario</h1>
<form action="" class="form-inline justify-content-center">
    <center>
        <!-- menu-->
        <ul class="nav nav-pills" class="form">
            <li class="nav-item">
                <a class="nav-link " aria-current="page" href="/Administrador/CrearUsuario">Crear Usuario</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" href="/Administrador/BuscarUsuario">Buscar Usuario</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/Administrador/ReportesUsuario">Reportes</a>
            </li>
        </ul>
    </center>
</form>
<br/>
<br />


<form method="post">
    <label asp-for="NumeroDocumento"></label>
    <input asp-for="NumeroDocumento" />
    <input type="submit" />

    @if (Model != null)
    {
        <table class="table">
            <thead>
            <tr class="text-center"> 
                <th scope="col">@Html.DisplayNameFor(model=>model.PrimerNombre) </th>
                    
                    <th scope="col">@Html.DisplayNameFor(model=>model.SegundoNombre) </th>
                    
                    <th scope="col">@Html.DisplayNameFor(model=>model.PrimerApellido) </th>
                    
                <th scope="col">@Html.DisplayNameFor(model=>model.SegundoApellido) </th>

                    <th scope ="col">@Html.DisplayNameFor(model=>model.Email) </th>

                </tr>
        </thead>
        <tbody>
            <tr>
                <td>@Html.DisplayFor(modelitem=> modelitem.PrimerNombre)</td>
                    <td scope="col">@Html.DisplayFor(modelitem=> modelitem.SegundoNombre)</td>
                    <td scope="col">@Html.DisplayFor(modelitem=> modelitem.PrimerApellido)</td>
                    <td scope="col">@Html.DisplayFor(modelitem=> modelitem.SegundoApellido)</td>
                    <td scope="col">@Html.DisplayFor(modelitem=> modelitem.Email)</td>
                    <td scope="col">@Html.ActionLink("EditarUsuario","EditarUsuario", new{Idusuario=Model.IdUsuario})</td>
                    <td scope="col">
                        @Html.ActionLink("EliminarUsuario","EliminarUsuario",new{Idusuario=Model.IdUsuario},
                    new{onclick="return confirm('¿Estas seguro de eliminarlo');"})</td>         
                    </tr>
        </tbody>
    </table>
    }
   
</form>

