@model SGPI.Models.Usuario
@{
    ViewData["Title"] = "CrearUsuario";

    Layout = "_LayoutSGPI";
}
<!--Centrar los recuadros-->

<h1>Crear Usuario</h1>
<form action="" class="form-inline justify-content-center">
<center>
<!-- menu-->
<ul class="nav nav-pills" class="form">
    <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/Administrador/CrearUsuario">Crear Usuario</a>
    </li>
    <li class="nav-item">
                <a class="nav-link" href="/Administrador/BuscarUsuario">Buscar Usuario</a>
    </li>
    <li class="nav-item">
                <a class="nav-link" href="/Administrador/EliminarUsuario">Eliminar Usuario</a>
    </li>
    <li class="nav-item">
                <a class="nav-link" href="/Administrador/EditarUsuario">Editar Usuario</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#">Reportes</a>
    </li>
</ul>
</center>
</form>
<br />
<!-- columnas-->
<form  method="post">
    <div class="row align-items-start">
        <div class="col-4">
            <!--Anexo el select-->
            <label>Tipo de Documento</label>
            <br />
            @Html.DropDownList("IdDocumento",new SelectList(ViewBag.TipoDocumento,"IdDocumento","TipoDocumento"),new{@class="form-contol dropdown"})        
            <br />
            <label>Primer Nombre</label>
            <br />
            <input asp-for="PrimerNombre" type="text" class="form-control col-sm-12" id="nombreusuariotxt" required />
            <br />
            <br />
            <label>Segundo Nombre</label>
            <br />
            <input asp-for="SegundoNombre" type="text" class="form-control col-sm-12" id="nombreusuariotxt" required />
            <br />

            <label> Primer Apellido</label>
            <br />
            <input asp-for="PrimerApellido" type="text" class="form-control col-sm-12" id="apellidousuariotxt" required />
            <label> Segundo Apellido</label>
            <br />
            <input asp-for="SegundoApellido" type="text" class="form-control col-sm-12" id="apellidousuariotxt" required />
        </div>
        <div class="col-4">
            <label>Numero de Documento</label>
            <br />
            <input asp-for="NumeroDocumento" type="text" class="form-control col-sm-12" id="numerodocumentousuariotxt" required />
            <br />
            <label>Correo Electronico</label>
            <input asp-for= "Email" type="text" class="form-control col-sm-12" id="correoelectronicousuariotxt" required />
            <label>Rol</label>
            <br />
            @Html.DropDownList("IdRol",new SelectList(ViewBag.Rol,"IdRol","Rol1"),new{@class="form-contol dropdown"})
            
        </div>
        <div class="col order-last">
            <label>Genero</label>
            <br />
            @Html.DropDownList("IdGenero",new SelectList(ViewBag.Genero,"IdGenero","Genero1"),new{@class="form-contol dropdown"})
            <br/>
            <br />
            <br />
            <label>Programas</label>
            <br />
            @Html.DropDownList("IdPrograma",new SelectList(ViewBag.Programa,"IdPrograma","Programa1"),new{@class="form-contol dropdown"})
        </div>
    </div>

    <br />
    <br />
    <br />
    @if (ViewBag.mensaje != null)
    {
        <div class="alert alert-succes" role="alert">
            @ViewBag.mensaje
        </div>
    }
    <center>
        <button type="submit" class="btn btn-outline-danger" id="ingresarbtn type" submit>Ingresar</button>
    </center>


</form>



